        <!-- here's the syntax for including CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

        <!-- always load your own CSS file after the Booststrap CSS file -->
        <!-- so you can override Bootstrap CSS when needed  -->
        <link rel="stylesheet" href="css/main.css" />

        <!-- and include jQuery and Bootstrap -->
        <script src="/jquery/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <!-- load your JS file's after (= defer) the DOM is loaded  -->
        <script src="js/main.js" defer></script>


        <%- include('../partials/header') %>
        <%- include('../partials/content') %>
      <div class="row">
        <div class="col-md-2">
            <div class="btns">
                <button type="button" class="btn btn-success btn-block">Inschrijven</button>
                <button type="button" class="btn btn-primary btn-block">Proefles</button>
                <button type="button" class="btn btn-secondary btn-block">Studiegids</button>
                <button type="button" class="btn btn-warning btn-block">Adviesgesprek</button>
                </div>
        
        </div>
        <div class="col-md-9 textlap">
        <h2>Consultant</h2>

        <p>Ipsum beatae necessitatibus pariatur, atque quam vero non praesentium illo quidem, iure quo omnis sunt aut sapiente quibusdam! Reprehenderit, nobis doloribus?
        Illo ut nemo explicabo, commodi quaerat blanditiis fugiat atque amet vero facere excepturi est quo obcaecati ipsa repellat provident quod consequatur quam voluptatibus quidem numquam itaque quis. Dolorum, quisquam id!
        Qui rerum vitae modi exercitationem minus eos amet ab laudantium voluptatum aperiam similique impedit reprehenderit cum sint, mollitia, nihil itaque minima dolor distinctio. Alias quibusdam optio, amet pariatur repellendus aperiam!
        Vel explicabo natus aperiam doloribus ut reiciendis culpa error. Necessitatibus ullam ad doloremque beatae a assumenda laboriosam facilis nam possimus accusantium? Fuga ea inventore ab architecto, ipsum deserunt illo maiores.
        Ut dolore labore iure voluptates repellendus perspiciatis odit pariatur aliquid impedit omnis cumque officiis, beatae nulla neque quae minus veritatis totam ratione tenetur blanditiis numquam quam eos quo. Provident, quidem.
        Culpa, repellat. Fuga ipsam at, nobis saepe neque nemo optio velit cumque natus aspernatur recusandae ad non quod inventore! Maxime alias impedit quidem minus suscipit voluptatum voluptatem facere provident modi.
        Eveniet provident ut excepturi quas, pariatur sit optio ratione amet? Fugiat consequuntur, amet doloribus natus ipsum eum esse beatae nobis enim saepe nisi atque, neque minus rerum, iure nostrum dolorum.
        Quaerat aut aspernatur quod eaque voluptatem est tempora sequi ex nobis id consectetur nisi repellendus expedita commodi doloremque illo debitis ab aliquam, alias reiciendis quos? Iste eveniet debitis commodi amet.
        Nisi, exercitationem. Pariatur dolore sint magni accusamus ab eveniet ipsam earum facilis natus ipsa impedit, adipisci iste, cumque blanditiis fuga ut. Rerum aliquam quibusdam velit labore id, ipsa sint ullam.
        Autem aliquid vero laboriosam earum modi, quibusdam atque non et voluptas voluptatum obcaecati! Earum tempora quo, voluptatem alias tempore repellendus iste accusamus vero ipsum? Distinctio quod suscipit at ea enim.
        Corporis nam suscipit nemo aut nisi voluptatibus quasi. Blanditiis eligendi reiciendis nulla unde, repellendus inventore! Non repellat distinctio, quod itaque consequuntur in saepe. Ab enim quibusdam dolorum vitae voluptatibus? 
        <img src="https://www.newfinancialforum.nl/upload/1478153604-42177-620x413.jpg">
            <img src="https://i.pinimg.com/originals/c9/44/81/c94481f6903c6dac4aa7ec8f4c9828af.jpg">
            <img src="https://images.financialexpress.com/2018/06/coworking-620x413.jpg">
    </div>
      </div>

      <footer>
        <%- include('../partials/footer') %>
      </footer>
      
          
