        <!-- here's the syntax for including CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

        <!-- always load your own CSS file after the Booststrap CSS file -->
        <!-- so you can override Bootstrap CSS when needed  -->
        <link rel="stylesheet" href="css/main.css" />

        <!-- and include jQuery and Bootstrap -->
        <script src="/jquery/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <!-- load your JS file's after (= defer) the DOM is loaded  -->
        <script src="js/main.js" defer></script>





    <%- include('../partials/header') %>
    <%- include('../partials/content') %>
  <div class="row">
    <div class="col-md-2">
        <div class="btns">
            <button type="button" class="btn btn-success btn-block">Inschrijven</button>
            <button type="button" class="btn btn-primary btn-block">Proefles</button>
            <button type="button" class="btn btn-secondary btn-block">Studiegids</button>
            <button type="button" class="btn btn-warning btn-block">Adviesgesprek</button>
            </div>

    </div>
      <div class="col-md-9 textlap">
    <h2>Landbewerker</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate placeat voluptas consequatur velit totam, quisquam, inventore quae facere accusantium vitae possimus. Numquam, laudantium praesentium nihil maiores minima explicabo distinctio iusto?
    Quidem totam cum, amet dolor expedita illum dolore ex ipsum explicabo quae vero repellendus voluptate qui possimus magnam magni iste animi mollitia sit. Asperiores, quidem aliquid consequatur dolores quae quibusdam.
    Totam, magni possimus porro provident, ipsam esse maxime recusandae quasi, cumque quaerat ipsa eos qui sapiente reiciendis eius? Eius repellat animi quasi explicabo assumenda architecto provident, aliquid beatae voluptate? Harum.
    Qui atque delectus quaerat cupiditate tempore eius quos ut ipsa, dolorum tenetur facere eum ex incidunt nesciunt? Minus, blanditiis? Dolore, officia debitis quam inventore veritatis fuga voluptatem! Aperiam, nesciunt adipisci.
    Ullam atque sunt ab deserunt maiores esse, minus sequi impedit quaerat! Ab quaerat beatae quasi. Rerum dolorum voluptatibus itaque sed officia corporis natus ab illum qui odio ipsum, eligendi eum?
    Quod rerum accusamus dignissimos reprehenderit nobis ex molestiae placeat porro ipsum et, necessitatibus ducimus optio consequatur neque voluptas distinctio aut possimus nesciunt doloribus maxime ipsa esse harum est debitis. Corrupti!
    Aperiam minus ad recusandae eum amet dolorem voluptates aut. Ipsum beatae necessitatibus pariatur, atque quam vero non praesentium illo quidem, iure quo omnis sunt aut sapiente quibusdam! Reprehenderit, nobis doloribus?
    Illo ut nemo explicabo, commodi quaerat blanditiis fugiat atque amet vero facere excepturi est quo obcaecati ipsa repellat provident quod consequatur quam voluptatibus quidem numquam itaque quis. Dolorum, quisquam id!
    Qui rerum vitae modi exercitationem minus eos amet ab laudantium voluptatum aperiam similique impedit reprehenderit cum sint, mollitia, nihil itaque minima dolor distinctio. Alias quibusdam optio, amet pariatur repellendus aperiam!
    Vel explicabo natus aperiam doloribus ut reiciendis culpa error. Necessitatibus ullam ad doloremque beatae a assumenda laboriosam facilis nam possimus accusantium? Fuga ea inventore ab architecto, ipsum deserunt illo maiores.
    Ut dolore labore iure voluptates repellendus perspiciatis odit pariatur aliquid impedit omnis cumque officiis, beatae nulla neque quae minus veritatis totam ratione tenetur blanditiis numquam quam eos quo. Provident, quidem.
    Culpa, repellat.  </p>
  
    <img src="https://images.barrons.com/im-76867?width=620&size=1.5">
<img src="https://ktar.com/wp-content/uploads/2020/11/ap_c74ff9c5905d45d6a929447d2d2216b2-620x413.jpg">
<img src="https://bebiodiversity.be/wp-content/uploads/2018/04/agriculture-89168_1920-620x413.jpg">
</div>
<footer>
  <%- include('../partials/footer') %>
</footer>
  </div>

