        <!-- here's the syntax for including CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

        <!-- always load your own CSS file after the Booststrap CSS file -->
        <!-- so you can override Bootstrap CSS when needed  -->
        <link rel="stylesheet" href="css/main.css" />

        <!-- and include jQuery and Bootstrap -->
        <script src="/jquery/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <!-- load your JS file's after (= defer) the DOM is loaded  -->
        <script src="js/main.js" defer></script>

        <%- include('../partials/header') %>
        <%- include('../partials/content') %>
      <div class="row">
        <div class="col-md-2">
            <div class="btns">
                <button type="button" class="btn btn-success btn-block">Inschrijven</button>
                <button type="button" class="btn btn-primary btn-block">Proefles</button>
                <button type="button" class="btn btn-secondary btn-block">Studiegids</button>
                <button type="button" class="btn btn-warning btn-block">Adviesgesprek</button>
                </div>
        
        </div>
        <div class="col-md-9 textlap">
        <h2>IT Master</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate placeat voluptas consequatur velit totam, quisquam, inventore quae facere accusantium vitae possimus. Numquam, laudantium praesentium nihil maiores minima explicabo distinctio iusto?
        Quidem totam cum, amet dolor expedita illum dolore ex ipsum explicabo quae vero repellendus voluptate qui possimus magnam magni iste animi mollitia sit. Asperiores, quidem aliquid consequatur dolores quae quibusdam.
        Totam, magni possimus porro provident, ipsam esse maxime recusandae quasi, cumque quaerat ipsa eos qui sapiente reiciendis eius? Eius repellat animi quasi explicabo assumenda architecto provident, aliquid beatae voluptate? Harum.</p>
      
       <p>Culpa, blanditiis asperiores. Similique, laboriosam enim expedita labore quaerat fugiat beatae nesciunt veritatis, debitis ut corporis eveniet. Totam obcaecati corporis maxime ex ducimus commodi soluta iusto, nesciunt deserunt sed blanditiis!
        Vel facere, ratione commodi libero, voluptas sapiente beatae impedit asperiores, rem deleniti maxime fuga ea nemo sequi dolores fugiat! Aliquam debitis sapiente odit ea esse beatae necessitatibus perferendis suscipit maiores.
        Tempore praesentium molestiae architecto saepe eos aspernatur magnam, temporibus repellat distinctio quibusdam repudiandae itaque veniam numquam reprehenderit, facilis quis! Maiores quis itaque aspernatur laudantium ipsum corporis quasi velit architecto eius?
        Aspernatur quisquam magni officiis doloribus, ipsum ea debitis id mollitia, cupiditate ducimus nam, recusandae distinctio beatae libero accusamus? Blanditiis adipisci aperiam sunt officiis ad veniam quo quidem hic ullam aut.
        Aliquam nihil a facere magni ratione eum consequatur qui cupiditate magnam asperiores unde, officia atque accusamus natus! Necessitatibus ipsa, accusamus soluta quasi numquam doloribus accusantium. Maxime soluta minus incidunt laudantium.
        Esse quos enim voluptatem! Sed repudiandae, commodi eveniet, veniam repellendus rerum ratione animi vel sequi, aut nisi assumenda. Facere aut cupiditate explicabo illo perspiciatis aliquam eaque ipsam, ad laboriosam nostrum.
        Porro natus praesentium, doloremque ipsum quidem itaque exercitationem? A soluta animi neque eum perferendis repellendus sit velit facere enim eligendi provident quos veritatis, dolore accusamus quisquam, quod voluptatem impedit quidem.
        Fugit dolorum optio, autem animi sint blanditiis impedit est. Culpa est dolorem quo eligendi harum? Necessitatibus fugiat doloremque nisi, vitae fugit consequuntur atque, quis ratione omnis tempore autem perferendis tenetur.</p>
        <img src="https://dwpdigital.blog.gov.uk/wp-content/uploads/sites/197/2019/01/code-620x413.jpg">
            <img src="https://i.pinimg.com/originals/71/89/d5/7189d56dcfe230e074d2ca53bdfa895a.jpg">
            <img src="https://www.carriermanagement.com/assets/bigstock-Binary-code-with-the-word-Big-data-73385806-620x413.jpg">
      </div>
      </div>
      
          
      <footer>
        <%- include('../partials/footer') %>
      </footer>